beautifulsoup4==4.12.3
chromadb==0.5.0
llama_index==0.10.33
llama_parse==0.4.2
python-dotenv==1.0.1
qdrant_client==1.9.0
Requests==2.31.0
semantic_text_splitter==0.12.2
strenum==0.4.15
tokenizers==0.19.1
llama_index-readers-web
trafilatura==1.8.1
python-dotenv==1.0.1
llama-index-vector-stores-upstash
llama-index-vector-stores-qdrant
llama-index-llms-ai21
llama-index-llms-anthropic
llama-index-llms-cohere
llama-index-llms-gradient
llama-index-llms-groq
llama-index-llms-konko
llama-index-llms-perplexity
llama-index-llms-openai
llama-index-llms-gemini
google-generativeai