beautifulsoup4==4.12.3
llama_index==0.10.28
Requests==2.31.0
semantic_text_splitter==0.10.0
StrEnum==0.4.15
tokenizers==0.15.2
llama-index-llms-ai21
llama-index-llms-anthropic
llama-index-llms-cohere
llama-index-llms-gradient
llama-index-llms-groq
llama-index-llms-konko
llama-index-llms-perplexity
llama-index-llms-openai
llama-index-llms-gemini
google-generativeai
llama-index-embeddings-cohere
pydantic==1.10.14